<%= form_with(model: prop2, local: true) do |form| %>
  <% if prop2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prop2.errors.count, "error") %> prohibited this prop2 from being saved:</h2>

      <ul>
      <% prop2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
